datasets/*


# ignore pdf files
*.pdf

# ignore log files
*.log

# ignore datasets
datasets/

# ignore BM25 cache files
bm25_cache/

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# ignore Python bytecode files
__pycache__/
# ignore virtual environment directories
venv/
nlp_venv/

# Project specific

*.pkl
*.npy
*.bak

# ignore everything inside configs folder except configs/template_config.py
configs/*
!configs/template_config.py
