datasets/*


# ignore pdf files
*.pdf
# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# ignore Python bytecode files
__pycache__/
# ignore virtual environment directories
venv/

# ignore everything inside configs folder except configs/template_config.py
configs/*
!configs/template_config.py

