# ignore datasets content but keep the folder structure
datasets/*
!datasets/.gitkeep

# ignore pdf files
*.pdf

# ignore log files
*.log

# ignore BM25 cache files content but keep the folder structure
bm25_cache/*
!bm25_cache/.gitkeep

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# ignore Python bytecode files
__pycache__/
# ignore virtual environment directories
venv/
nlp_venv/

# Project specific

*.pkl
*.npy
*.bak

# ignore everything inside configs folder except configs/template_config.py
configs/*
!configs/template_config.py
.DS_Store
/legal-rag/datasets copy
